// Variable definitions.
$colour-primary: #5BC1F2;
$colour-primary-light: #99D7F5;
$colour-primary-dark: #22ADF1;
$colour-primary-darker: #02A2EF;

$colour-text-primary: white;
$colour-text-primary-dark: #e2e2e2;

$colour-background: hsl(0, 0%, 99%);

$colour-shadow: hsl(0, 0%, 85%);

$colour-overlay: #00000030;

$colour-err: hsl(12, 80%, 67%);
$colour-err-light: hsl(12, 80%, 90%);
$colour-text-err: hsl(12, 80%, 20%);