// The styling for the Composition component.

.composition__main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;
}

.composition__size-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2em;
    margin-top: 10%;
}

.composition__wrapping-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    margin-bottom: 2em;
}

.composition__composition-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin-right: 2em;
}

.composition__composition-title {
    margin-bottom: 0.5em;
    margin-left: 0.1em;
}

.composition__controls-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    height: 100%;
}

.composition__control-button {
    flex: 0 0 auto;
    width: 10em;
    margin-top: 0.5em;
}