// Styling for the Main component

.main__back-button-container {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.main__wrapper {
    flex: 0 0 auto;
}

.main__container {
    flex: 1 1 auto;
}

.main__back-button {
    font-size: 2em;
    padding: 0;
    width: 5em;
    margin: 0.25em;
}